.circle2 {
  position: relative;
  z-index: 1;
  top: 140px;
  left: 100px;
  width: 80px;
  height: 80px;
  border: 5px solid #afafafc7;
  background: #ffffff;
  border-radius: 50%;
}

.circle2.night {
  animation: circle2 0.4s;
  animation-fill-mode: forwards;
  background: #0d1117;
}


.circle2::before {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -13px;
  left: -10px;
  width: 114%;
  height: 118%;
  border: 5px solid #fff;
  border-radius: 50%;
}

.circle2.night::before {
  border: 5px solid #0d1117;
}
