.circle3 {
  position: relative;
  left: 160px;
  top: 73px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 5px solid #afafafc7;
}

.circle3.night,
.circle3.night::before,
.circle4.night,
.circle4.night::before {
  animation: circle3 0.2s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
  background-color: #0d1117;
}

.circle3::before {
  content: "";
  position: relative;
  left: 33px;
  bottom: 16px;
  width: 25px;
  height: 55px;
  border-radius: 50%;
  border: 5px solid #afafafc7;
  background-color: #fff;
  transform: rotate(165deg);
  display: block;
}
